

/*****************
HEADING
*****************/
.name {
  float: left;
  margin: 2%;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.75em;
  	padding: 0;
}

/*This nav a is the contact links*/
.contact {
	display: inline-block;
	float: left; 
	margin: 2%;
	width: 90%;
	text-align: right;

}	

li {
	list-style: none;
}

a {
  text-decoration: none;
  font-family: 'Josefin-sans', sans-serif;
  color: black;
  padding: 20px;
}

a:hover {
  color: red;
}

/*****************
CONTENT
*****************/
body {
	background-color: mediumOrchid;
}

.section {
	float: left;
}

.pictureBox {
	max-width: 220px;
	max-height: auto;
	margin: 2.5% 0;
	display: inline-block;
	padding: 2%
	/*font-family: 'Josefin Sans', sans-serif;*/
	list-style: none;
	float: left;
	background-color: lightYellow;
}

img {
	max-height: 200px;
	max-width: 201px;
	margin: 5% 0;
	float: left;
}

.firstBox {
	background-color: lightYellow;
	margin: 0 10%;
	max-width: 760px;
	float: left;
	max-height: auto;
	width: 50%;
	font-family: 'Josefin Sans', sans-serif; 	
	padding: 20px;
}

.oneInspire {
	font-size: 1em;
	padding: 0;
	list-style: none;
}

.secondBox {
	background-color: lightYellow;
	margin: 0 0 0 35%;
	max-width: 760px;
	/*max-height: auto;*/
	float: left;
	width: 30%;
	font-family: 'Josefin Sans', sans-serif; 
	padding: 20px;	
}

.secondBoxImage {
	margin: 9% 10% 0 0;
	float: left;
	max-width: 201px;
	max-height: auto;
	/*padding: 20px;*/
}

h2 {
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-family: 'Raleway', sans-serif;
}



/*****************
PAGE FOOTER
*****************/
.footer {
	font-family: 'Josefin Sans', sans-serif;
	max-width: 1000px;
	text-align: center;
	margin: 0 10%;
	padding: 20px;
	font-size: .75em;
	position:bottom:0;  /*I really like this!  This and the next 2 lines keep the footer at the bottom*/
	width: 100%;
	display:block;
	float: left;
}

*/