main.css

/*****************
HEADER
*****************/
h1  {
font-family: Raleway, sans-serif;
width: 80%;
float: left;
}

nav a {
	text-decoration: none;
	display: inline-block;
	text-align: right;
}	


h2 {
font-family: Raleway, sans-serif;
}


/*****************
COLUMN LEFT
*****************/

.columnLeft {
	border: .10em solid grey;
	font-family: 'Josefin Sans', sans-serif; 
	width: 30%;
	padding: none;
	float: left;
}
nav ul {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: left;
	margin-left: 0px;
}

.box {
	padding: 20px;
	margin: 5px;
	width: 30%;
}




.firstBox {
	float: left;
}
.secondBox {
	float: left;

}
.footer  {
	text-align: center;
	font-size: 55%;


}